
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

{% extends "menu.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-push-1">
            <form method="post">
                {% csrf_token %}
                {{ add_form.title_field.label_tag }}{{ add_form.title_field }}
                {{ add_form.text_field.label_tag }}{{ add_form.text_field }}
                {{ add_form.status.label_tag }}{{ add_form.status }}
                {{ add_form.priority.label_tag }}{{ add_form.priority }}
                <br>
                {{ add_form.create_date.label_tag }}{{ add_form.create_date }}
                {{ add_form.expiration_date.label_tag }}{{ add_form.expiration_date }}
                <br>
                <input type="submit" value="Добавить" name="_add"/>
            </form>
            </div>
        </div>
    </div>

    <br>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-push-1">
            {% for form in chn_form %}
                <details>
                    <summary>
                        {{ form.title_field.initial }}
                    </summary>
                        <form method="post">
                            {% csrf_token %}
                            {{ form.title_field.label_tag }}{{ form.title_field }}
                            {{ form.text_field.label_tag }}{{ form.text_field }}
                            {{ form.status.label_tag }}{{ form.status }}
                            {{ form.priority.label_tag }}{{ form.priority }}
                            <br>
                            {{ form.create_date.label_tag }}{{ form.create_date }}
                            {{ form.expiration_date.label_tag }}{{ form.expiration_date }}
                            <br>
                            <input type="submit" value="Удалить" name="_del"/>
                            <input type="submit" value="Изменить" name="_chn"/>
                            <span id="sukableat">{{ form.id_field }}</span>
                        </form>
                </details>
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

</body>
</html>