
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

{% extends "menu.html" %}

{% block content %}
    {% if user.get_username %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h1>Не завершено</h1>
                {% for task in tasks1 %}
                <div>
                   <h2><a href="">{{ task.title }}</a></h2>
                   <h3>{{ task.text|linebreaksbr }}</h3>
                   <p>status: {{ task.status }}</p>
                   <p>priority: {{ task.priority }}</p>
                   <p>expiration date: {{ task.expiration_date }}</p>
                   <p>author: {{ task.author }}</p>
{#                   {{ task.id }}#}
                </div>
                {% endfor %}
            </div>
            <div class="col-md-4">
                <h1>Выполнено</h1>
                {% for task in tasks2 %}
                <div>
                   <h2><a href="">{{ task.title }}</a></h2>
                   <h3>{{ task.text|linebreaksbr }}</h3>
                   <p>status: {{ task.status }}</p>
                   <p>priority: {{ task.priority }}</p>
                   <p>expiration date: {{ task.expiration_date }}</p>
                   <p>author: {{ task.author }}</p>
{#                   {{ task.id }}#}
                </div>
            {% endfor %}
            </div>
            <div class="col-md-4">
                <h1>Провалено</h1>
                {% for task in tasks3 %}
                <div>
                   <h2><a href="">{{ task.title }}</a></h2>
                   <h3>{{ task.text|linebreaksbr }}</h3>
                   <p>status: {{ task.status }}</p>
                   <p>priority: {{ task.priority }}</p>
                   <p>expiration date: {{ task.expiration_date }}</p>
                   <p>author: {{ task.author }}</p>
{#                   {{ task.id }}#}
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
    {% else %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 center">
                {% block login %}
                <h2>Войдите</h2>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Войти</button>
                </form>
            {% endblock %}
            </div>
        </div>


    </div>
    {% endif %}
{% endblock %}

</body>
</html>