<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a href="/">Главная</a>
            </div>
            <div class="col-md-3">
                <a href="/change">Изменить</a>
            </div>
            <div class="col-md-3">
                <a href="/statistic">Статистика</a>
            </div>
            <div class="col-md-3">
                {% if user.get_username %}
                    {{ user.get_username }}  <a href="/logout">X</a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <img src="../../static/img/domains.png"/>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <p>Среднее время на задачу: {{ data }}</p>
                <p> Незавершённых задач {{ stata.0 }}</p>
                <p> Завершённых задач {{ stata.1 }}</p>
                <p> Проваленных задач {{ stata.2 }}</p>
            </div>
            <div class="col-lg-4">
                <img src="../../static/img/pie.png"/>
            </div>
            <div class="col-lg-3">
                <img src="../../static/img/pie2.png"/>
            </div>
        </div>
    </div>
</body>
</html>