
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

{% extends "menu.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <img src="../../static/img/domains.png"/>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <p>Среднее время на задачу: {{ data }}</p>
                <p> Незавершённых задач {{ stata.0 }}</p>
                <p> Завершённых задач {{ stata.1 }}</p>
                <p> Проваленных задач {{ stata.2 }}</p>
            </div>
            <div class="col-lg-4">
                <img src="../../static/img/pie.png"/>
            </div>
            <div class="col-lg-3">
                <img src="../../static/img/pie2.png"/>
            </div>
        </div>
    </div>
{% endblock %}

</body>
</html>